.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Photo_1612083103977.png");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1210px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 40px 0 0 auto;
  padding: 30px 480px 30px 479px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 48px 0 0 auto;
  padding: 30px 529px 31px 528px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 173px 0 0 auto;
  padding: 30px 513px 31px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  font-size: 4.5rem;
  margin: -8px 0 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 79px 0 0 auto;
  padding: 30px 511px 31px 509px;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 30px 0 57px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 998px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 764px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 236px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  width: 864px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}